.container {
  position: relative;
  width: 275px;
  aspect-ratio: 100/74;
  font-family: "Roboto", sans-serif;
  margin: 2%;
  max-height: 220px;
}

.stat-element {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .stats-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    aspect-ratio: 1;
    margin-top: 11%;
    background-color: #e4d9d9;
    border: none;
    border-radius: 50%;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .stat-title {
    margin-top: 4%;
    width: 50%;
    height: 29%;
    align-self: flex-start;
    font-weight: bold;
    transform: rotate(-90deg);
    transform-origin: bottom;
    text-align: right;

    span {
      text-align: right;
      font-size: 0.8em;
      font-weight: 800;
    }
  }

  .wrapper-stat-square {
    position: absolute;
    width: 55%;
    height: 50%;
    padding-top: 22%;
    padding-left: 11%;
  }

  .stat-square {
    display: flex;
    height: 100%;
    align-items: center;
    border: 0.2em solid #000;
    border-radius: 3%;
    position: relative;

    .stat-ticker {
      font-weight: bold;
      color: #c12a32;
      font-size: 1.5rem;
      font-weight: 800;
      position: absolute;
      top: -35%;
      left: 25%;
    }

    .number-input {
      margin-top: 20%;
      margin-right: 20%;

      input {
        text-align: center; /* Centre le texte à l'intérieur de l'input */
        font-size: 3rem;
        border: none;
        background: transparent;
        padding-bottom: 20%;
      }
    }
  }

  .proficiency-square {
    flex-direction: column; /* Stack the items vertically */
    justify-content: center; /* Vertically centers the children inside the box */
    align-items: center; /* Horizontally centers the children */
    width: 50%;
    height: 45%;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #e4d9d9;
    border: 0.35em solid;
    border-radius: 4%;

    .mod-value {
      align-self: stretch; /* Aligne le texte sur toute la largeur */
      text-align: center; /* Centre le texte horizontalement */
      font-weight: bold;
      color: #000000;
      font-size: 1rm;
    }

    .number-input {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        text-align: center; /* Centre le texte à l'intérieur de l'input */
        font-size: 3rem;
        border: none;
        background: transparent;
        padding-bottom: 20%;
      }
    }
  }

  .saving-square {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 40%;
    height: 39%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: #e4d9d9;
    border: 0.2em solid #000;
    border-radius: 7%;

    .save-value {
      align-items: center;
      font-weight: bold;
      color: #000000;
      font-size: 0.8em;
    }

    .number-input {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        text-align: center;
        font-size: 2rem;
        border: none;
        background: transparent;
      }
    }
  }
}
