.tab-selector {
  display: flex;
  flex-direction: column;
  height: 95%;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 12px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;

    &:hover {
      background-color: #b9b9b9;
      color: #000000;
      transition: background-color 0.4s ease, color 0.4s ease;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: bold;
      color: black;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }

    img {
      width: 50px;
      height: 50px;
      margin-top: 10%;
    }

    &.active {
      background-color: #b9b9b9;
      color: #000000;
      transition: background-color 0.4s ease, color 0.4s ease;
    }
  }
}