.text-input-with-label {
  display: flex;
  align-items: center; // Aligne le label et l'input verticalement au centre
}

.text-input-label {
  margin-right: 8px; // Espacement entre le label et l'input
  font-weight: bold; // Rendre le label plus visible
}

.text-input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: auto;
  min-width: 10%;
}
