#root {
  text-align: center;
  --color-for: #c12a32;
  --color-dex: #f48e01;
  --color-con: #2eb576;
  --color-int: #00aded;
  --color-sag: #902e8c;
  --color-cha: #ef7eb0;

  --color-background: #e4d9d9;

  --color-proficiency-field: #b87333;
  --color-inspiration-field: #008705;
  --color-passive-perc-field: #dd07a4;
  --color-initiative-field: #f49740;
  --color-speed-field: #793b01;
  --color-dd-save-field: #920077;
}

body {
  background-color: #e4d9d9;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  margin-left: 1%;

  .tab-selector-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 100%;
  }
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.App-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3%;
  height: auto;
  min-width: 1675px;
  min-height: 700px;
  
  .tab-component {
    display: flex;
  }
}