#root {
  margin: 0 auto;
  text-align: center;
  --color-for: #c12a32;
  --color-dex: #f48e01;
  --color-con: #2eb576;
  --color-int: #00aded;
  --color-sag: #902e8c;
  --color-cha: #ef7eb0;

  --color-background: #e4d9d9;

  --color-proficiency-field: #b87333;
  --color-inspiration-field: #008705;
  --color-passive-perc-field: #dd07a4;
  --color-initiative-field: #f49740;
  --color-speed-field: #793b01;
  --color-dd-save-field: #920077;
}

body {
  background-color: #e4d9d9;
  font-family: 'Roboto', sans-serif;
}

.App-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  min-width: 1675px;

  .tab-selector-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    min-width: 150px;

    background-color: var(--color-background);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #d4cfcf;
    }
  }
  
  .tab-component {
    display: flex;
  }
}